<nav class="navbar navbar-light bg-warning mr-top ">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Top Ten Construction Delvelopers in Mumbai</span>
    </div>
</nav>
<!--    1.Indiabulls Infraestate -->
<div class="container mt-3">


    <div class="row">
        <div class="col-4 ">
            <img src="../../../assets/delveloper/mumbai/indiabullsnewlogo.png" height="100px" width="100px"
                class="card-img-top " alt="...">

        </div>
        <div class="col-8">


            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                1.0Indiabulls Infraestate



            </button>
            <!-- <i class="fa-solid fa-arrow-down-arrow-up"></i> -->
            <p>
                Indiabulls Real Estate stands for excellence and luxury in residential and commercial properties.
                It was incorporated in 2006 with its focus on construction and
                development of residential, commercial and SEZ projects across major Indian metros.
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="row">
                        <div class="row">
                            <div class="col-6">
                                <!-- 44 Years of Experience 176 Total Projects 47 Ongoing Projects -->
                                <span>
                                    <h5>Total years of experience-</h5>
                                </span> <span>
                                    <h6> 23 Years of Experience </h6>
                                </span>
                                <span>
                                    <h5>Total projects completed-</h5>
                                </span>
                                <h6> 43 Total Projects </h6>
                                <span>
                                    <h5>Ongoing Projects-</h5>
                                </span>
                                <h6>14 Ongoing Projects</h6>
                            </div>
                            <div class="col-6">
                                <div>
                                    <h4>Coroporate Office-</h4>
                                </div>
                                15th Floor, Indiabulls House, one International Center,
                                Senapati Bapat Marg, Mumbai, Maharashtra 400013

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--  2.0 Hiranandani Developers -->
<div class="container mt-5">


    <div class="row">
        <div class="col-4 ">
            <img src="../../../assets/delveloper/mumbai/Hiranandani-logo-2x.png" width="100px" height="100px"
                class="card-img-top  " alt="...">

        </div>
        <div class="col-8">


            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1"
                aria-expanded="false" aria-controls="collapseExample1">
                2.0 Hiranandani Developers
            </button>
            <p>
                Hiranandani Group is one of the most prestigious real estate delvelopers based in mumbai.
                Hiranandani Group has the vision of creating a new india with self -sufficent and enduring
                townships.
            </p>
            <div class="collapse" id="collapseExample1">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-6">
                            <span><h4>Total years of Experience </h4></span>
                           <h6>44 Years </h6> 
                           <span><h4>Total Projects Completed</h4> </span>
                           <h6>
                             176 Total Projects
                             </h6>
                             <span><h4>Ongoing Projects</h4> </span>
                             <h6>  47 Ongoing Projects</h6>
                            

                        </div>
                        <div class="col-6">
                            <div><h4>Coroporate Office-</h4> </div> Hiranandani Construction Pvt Ltd
                            Olympia ,Central Avenue,Hiranandani Business Park Powai,
                            Mumbai-400076
                            <div> <h4>Contact No-</h4> </div> +912225763600


                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!--  3.Lodha Group -->
<div class="container mt-5">
    <div class="row  ">
        <div class="col-4 ">
            <img src="../../../assets/delveloper/mumbai/lodha-group-logo.png" height="100px" width="100px"
                class="card-img-top " alt="...">

        </div>
        <div class="col-8">

            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3"
                aria-expanded="false" aria-controls="collapseExample3">
                3.Lodha Group
            </button>
            <p>
                At Lodha, our passion is to create landmarks that meet global standards,
                epitomise the values of our family, and are built on a legacy of trust
                spanning four decades. We are guided by our vision
                of ‘Building a Better Life’ and believe that homes transform lives.

            </p>
            <div class="collapse" id="collapseExample3">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-6">42 Years of Experience314 Total Projects158 Ongoing Projects</div>
                        <div class="col-6">
                            <div>+91 (22) 67737373</div>
                            LODHA Excelus Building, Apollo Mills Compound NM Joshi Marg, Mahalaxmi, Mumbai - 400
                            011
                            <div>Phone No-</div>+91 (22) 67737373
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
<!--  4.0 Mahindra Lifespace -->
<div class="container mt-5">
    <div class="row  ">
        <div class="col-4 ">
            <img src="../../../assets/delveloper/mumbai/Mahindra-Lifespaces.jpg" width="100px" height="100px"
                class="card-img-top " alt="...">

        </div>
        <div class="col-8">

            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4"
                aria-expanded="false" aria-controls="collapseExample4">
                4.0 Mahindra Lifespace
            </button>
            <p>
                Mahindra Lifespace Developers Ltd.
                is an Indian real estate and infrastructure development
                company headquartered in Mumbai, India.
                The Company was founded in 1994 and is part of the Mahindra Group.

            </p>
            <div class="collapse" id="collapseExample4">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-6">
                            28 Years of Experience121 Total Projects52 Ongoing Projects
                        </div>
                        <div class="col-6">
                            <div>Corporate Office</div>

                            Mahindra Towers, 5th Floor, Road No. 13, Worli, Mumbai - 400 018


                            <div>Phone No-</div>18002671010
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row  ">
        <div class="col-4 ">
            <img src="../../../assets/delveloper/mumbai/godrej properties.jpeg" width="100px" height="100px"
                class="card-img-top " alt="...">

        </div>
        <div class="col-8">

            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample5"
                aria-expanded="false" aria-controls="collapseExample5">
                5.0 Godrej Properties
            </button>
            <p>
                he Godrej Group comprises of a varied business portfolio that includes real estate development,
                fast moving consumer goods, advanced engineering, home appliances, furniture, security,
                and agri-care. While a large number of our businesses are privately held, the combined
                market cap of our publicly listed entities is in excess of USD 15 billion.


            </p>
            <div class="collapse" id="collapseExample5">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-6">
                            32 Years of Experience165 Total Projects102 Ongoing Projects
                        </div>
                        <div class="col-6">
                            <div>Corporate Office</div>

                            Unit No- 5C, 5th Floor, Godrej One, GODREJ ONE, Unit No. 5C, 5th Floor,
                            Pirojshanagar,
                            Vikhroli, Mumbai, Maharashtra 400079

                            <div>Phone No-</div>022 6169 8500
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row  ">
        <div class="col-4 ">
            <img src="../../../assets/delveloper/mumbai/Kalpataru.png" width="100px" height="100px"
                class="card-img-top " alt="...">

        </div>
        <div class="col-8">

            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample6"
                aria-expanded="false" aria-controls="collapseExample6">
                6.0 Kalpataru Group
            </button>
            <p>
                Founded in 1969, Kalpataru Limited brings about 50+ years
                of real estate excellence in developing and building premium residential towers,
                gated communities, townships, and commercial properties


            </p>
            <div class="collapse" id="collapseExample6">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-6">
                            53 Years of Experience140 Total Projects57 Ongoing Projects
                        </div>
                        <div class="col-6">
                            <div>Corporate Office</div>
                            Kalpataru Ltd.
                            101, Kalpataru Synergy,
                            Opp. Grand Hyatt, Santacruz (E),
                            Mumbai, India 400 055

                            <div>Phone No-</div> +91 - 22 - 3064 5000
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row  ">
        <div class="col-4 ">
            <img src="../../../assets/delveloper/mumbai/ranwal-logo.png" width="100px" height="100px"
                class="card-img-top " alt="...">

        </div>
        <div class="col-8">

            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample7"
                aria-expanded="false" aria-controls="collapseExample7">
                7.0 Runwal Realty
            </button>
            <p>
                Established in 1978, Runwal is one of Mumbai’s premier real estate developers,
                operating in the residential, commercial and organized retails verticals. With a robust track
                record of
                51 delivered projects with over 20 thousand Happy families, it has continuously driven to keep
                the
                ‘customer’ as a
                focal point in the designing, planning and construction of all its projects.

            </p>
            <div class="collapse" id="collapseExample7">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-6">
                            44 Years of Experience67 Total Projects27 Ongoing Projects
                        </div>
                        <div class="col-6">
                            <div>Corporate Office</div>
                            Runwal & Omkar Esquare,
                            5th Floor, Eastern Express Highway,
                            Sion (East),
                            Mumbai - 400022

                            <div>Phone No-</div> 91 22 - 61133000
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row  ">
        <div class="col-4 ">
            <img src="../../../assets/delveloper/mumbai/provident.png" width="100px" height="100px"
                class="card-img-top " alt="...">

        </div>
        <div class="col-8">

            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample8"
                aria-expanded="false" aria-controls="collapseExample8">
                8.0 Provident Housing
            </button>
            <p>
                Provident Housing Limited is a subsidiary of Puravankara Limited,
                one of the leading real estate companies in India. Since its inception in 1975,
                Puravankara has believed that there is only one mantra for success: Quality.

            </p>
            <div class="collapse" id="collapseExample8">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-6">
                            47 Years of Experience46 Total Projects26 Ongoing Projects
                        </div>
                        <div class="col-6">
                            <div>Corporate Office</div>
                            Puravankara Ltd / Provident Housing
                            Level-8,804/A, B-Wing.
                            The Capital, Plot.70,
                            G Block, B.K. C
                            Bandra(E), Mumbai-51

                            <div>Phone No-</div> 080-44555544
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row  ">
        <div class="col-4 ">
            <img src="../../../assets/delveloper/mumbai/rahej1.jpg" width="100px" height="100px" class="card-img-top "
                alt="...">

        </div>
        <div class="col-8">

            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample9"
                aria-expanded="false" aria-controls="collapseExample9">
                9.0 K Raheja Corpng
            </button>
            <p>
                K Raheja Corp is a success story spanning four decades
                and stands today as one of India’s leading developers.
            </p>
            <div class="collapse" id="collapseExample9">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-6">
                            66 Years of Experience38 Total Projects23 Ongoing Projects
                        </div>
                        <div class="col-6">
                            <div>Corporate Office</div>
                            Tower, Plot no C, Raheja, 30, G Block Rd, opposite SIDBI,
                            Bandra Kurla Complex, Bandra East, Mumbai, Maharashtra 400051

                            <div>Phone No-</div> 022 2656 4000
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row  ">
        <div class="col-4 ">
            <img src="../../../assets/delveloper/mumbai/l&t.png" width="100px" height="100px" class="card-img-top "
                alt="...">

        </div>
        <div class="col-8">

            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseExample10" aria-expanded="false" aria-controls="collapseExample10">
                10.0 L And T Realty
            </button>
            <p>
                L&T Realty Limited is a real estate development company and is part of
                the Larsen & Toubro Group, an Indian multinational
                conglomerate in technology, engineering, construction, manufacturing and financial services.
            </p>
            <div class="collapse" id="collapseExample10">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-6">
                            <span><h4>Total Years Of Experience</h4></span>
                            <h6> 83 Years</h6>
                            
                            34Total Projects18 Ongoing Projects
                        </div>
                        <div class="col-6">
                            <div><h4> Corporate Office</h4></div>
                            L&T Realty Sales Office – Ground Floor Larsen & Toubro Limited.
                            A.M.Naik Tower L&T Campus, Gate, No. 3,
                            Jogeshwari - Vikhroli Link Rd, Powai, Mumbai, Maharashtra 400072
                            <div><h4>Phone No</h4> </div> +099025 99025
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>
</div>