


<nav class="navbar navbar-light bg-secondary pading">
  <div class="container">
    <span class="navbar-brand mb-0 h1">Top Ten Construction Delvelopers in Pune</span>
  </div>
</nav>

<div class="container mt-3">


  <div class="row">
    <div class="col-4 ">
      <img src="../../../assets/delveloper/mahindra-lifespace.jpg" height="200px" width="200px" class="card-img-top mx-1 " alt="...">

    </div>
    <div class="col-8">
      <h4 class="card-title"> 1.Mahindra Lifespace</h4>

      <p class="card-text">
        Today’s properties in Pune have spacious rooms , reputed fittings and fixtures,
          and a thoughtful use of space, each of which have been incorporated in Mahindra Lifespaces’ Pune
          properties. While looking for flats in Pune, do make sure to take into consideration the location,
          amenities, design and layout, and price being offered.
          The real estate in Pune has taken a stylish
          turn with Mahindra Antheia which allows you to create wonderful memories with your loved ones

      </p>
<!--         
        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          1.Mahindra Lifespace
        </button>
        <p> Today’s properties in Pune have spacious rooms , reputed fittings and fixtures,
          and a thoughtful use of space, each of which have been incorporated in Mahindra Lifespaces’ Pune
          properties.</p>

      
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          Today’s properties in Pune have spacious rooms , reputed fittings and fixtures,
          and a thoughtful use of space, each of which have been incorporated in Mahindra Lifespaces’ Pune
          properties. While looking for flats in Pune, do make sure to take into consideration the location,
          amenities, design and layout, and price being offered.
          The real estate in Pune has taken a stylish
          turn with Mahindra Antheia which allows you to create wonderful memories with your loved ones
        </div>
      </div> -->
     
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row  ">
    <div class="col-4 ">
      <img src="../../../assets/delveloper/lodha1.jpg" class="card-img-top " alt="...">

    </div>
    <div class="col-8">
      
        
        <!-- <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
          2.Lodha Group
        </button>
      <p>
        Lodha Group or Macrotech Developers is an Indian multinational real
        estate company headquartered in Mumbai, India. It was founded in 1980 by Mangal Prabhat Lodha.
        It has developed
        residential and commercial properties in Mumbai, Thane, Hyderabad, Pune and London.
      </p>
      <div class="collapse" id="collapseExample1">
        <div class="card card-body">
          Lodha Group or Macrotech Developers is an Indian multinational real
          estate company headquartered in Mumbai, India. It was founded in 1980 by Mangal Prabhat Lodha.
          It has developed
          residential and commercial properties in Mumbai, Thane, Hyderabad, Pune and London.
        </div>
      </div> -->
      
        <h4 class="card-title">2.Lodha Group</h4>

        <p class="card-text">Lodha Group or Macrotech Developers is an Indian multinational real
          estate company headquartered in Mumbai, India. It was founded in 1980 by Mangal Prabhat Lodha.
          It has developed
          residential and commercial properties in Mumbai, Thane, Hyderabad, Pune and London.

        </p>


      </div>
    </div>
  </div>
<div class="container mt-5">
  <div class="row  ">
    <div class="col-4 ">
      <img src="../../../assets/delveloper/godrej.jpg" height="200px" width="200px" class="card-img-top " alt="...">

    </div>
    <div class="col-8">
      
        <!-- <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" 
        data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
          3.Godrej Properties Limited
        </button>
      <p>
        Godrej Properties Limited is a real estate company with its head office in Mumbai,
           India. A subsidiary of Godrej Industries Ltd, the company was established in 1990 under the leadership 
           of Adi Godrej. The company is currently 
          developing projects that are estimated to cover more than 89.7 million square feet.

      </p>
      <div class="collapse" id="collapseExample3">
        <div class="card card-body">
          Godrej Properties Limited is a real estate company with its head office in Mumbai,
           India. A subsidiary of Godrej Industries Ltd, the company was established in 1990 under the leadership 
           of Adi Godrej. The company is currently 
          developing projects that are estimated to cover more than 89.7 million square feet.
        </div>
      </div> -->

      <div class="card-body">
        <h4 class="card-title">3.Godrej Properties Limited</h4>

        <p class="card-text">Godrej Properties Limited is a real estate company with its head office in Mumbai,
           India. A subsidiary of Godrej Industries Ltd, the company was established in 1990 under the leadership 
           of Adi Godrej. The company is currently 
          developing projects that are estimated to cover more than 89.7 million square feet.

        </p>


      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row  ">
    <div class="col-4 ">
      <img src="../../../assets/delveloper/koltepatil.jpg" height="200px" width="200px" class="card-img-top " alt="...">

    </div>
    <div class="col-8">
     
        <!-- <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" 
        data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
          4.Kolte-patil Developers
        </button>
      <p>
        The company has been creating landmarks for over
        3 decades and has developed and constructed over 50 projects including residential complexes,
         commercial complexes and IT Parks covering a 
       saleable area of ~20 million square feet across Pune, Mumbai and Bengaluru.
      </p>
      <div class="collapse" id="collapseExample4">
        <div class="card card-body">
          The company has been creating landmarks for over
           3 decades and has developed and constructed over 50 projects including residential complexes,
            commercial complexes and IT Parks covering a 
          saleable area of ~20 million square feet across Pune, Mumbai and Bengaluru.
        </div>
      </div> -->
      <div class="card-body">
        <h4 class="card-title">4.Kolte-patil Developers</h4>

        <p class="card-text">The company has been creating landmarks for over
           3 decades and has developed and constructed over 50 projects including residential complexes,
            commercial complexes and IT Parks covering a 
          saleable area of ~20 million square feet across Pune, Mumbai and Bengaluru.

        </p>


      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row  ">
    <div class="col-4 ">
      <img src="../../../assets/delveloper/Goel Ganga Developments.jpg" height="200px" width="200px" class="card-img-top " alt="...">

    </div>
    <div class="col-8">
      <div class="card-body">
        <h4 class="card-title">5.Goel Ganga Developers</h4>

        <p class="card-text">Goel Ganga Developments, started in the year 1982, with sole commitment of giving a good life by providing affordable and comfortable housing.
           It has been almost four decades since we started our journey and are committed to change the skyline of Pune, with state of the art residential and commercial projects. 

          We are spread across 4.1 crores sq feet area and have successfully completed 80+ projects. We have provided homes to more than 20,000+ happy families. Our customer centric approach has helped us to be one of the most reputed builders in Pune.

        </p>


      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row  ">
    <div class="col-4 ">
      <img src="../../../assets/delveloper/oxford.jpg" height="200px" width="200px" class="card-img-top " alt="...">

    </div>
    <div class="col-8">
      <div class="card-body">
        <h4 class="card-title">6.Oxford Properties
        </h4>

        <p class="card-text">
          Oxford Properties is a Canadian multinational corporation, with operations in real estate investment,
           development and property management. 
          Its portfolio includes office, retail, industrial, multi-residential, life sciences and hotel assets.
        </p>


      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row  ">
    <div class="col-4 ">
      <img src="../../../assets/delveloper/mantra.webp" height="200px" width="200px" class="card-img-top " alt="...">

    </div>
    <div class="col-8">
      <div class="card-body">
        <h4 class="card-title">7.Mantra Properties</h4>

        <p class="card-text">Mantra Properties has expanded rapidly across Pune. Since inception in 2007, 
          we’ve always strived to provide the best value to our customers by carefully listening to their needs. Our intelligent design and emphasis on quality,
           transparency and delivery have enabled us to gain the customer’s as well as the market’s trust. 

        </p>


      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row  ">
    <div class="col-4 ">
      <img src="../../../assets/delveloper/Shapoorji.jpg" height="200px" width="200px" class="card-img-top " alt="...">

    </div>
    <div class="col-8">
      <div class="card-body">
        <h4 class="card-title">8.Shapoorji Pallonji Real Estate</h4>

        <p class="card-text">Shapoorji Pallonji And Company Private Limited is a global,
           diversified organisation of 18 major companies. We deliver end-to-end solutions 
           in 6 business segments, namely Engineering & Construction, Infrastructure, Real Estate, 
           Water, Energy and Financial Services. Developing megastructures and iconic landmarks, our
            dedicated workforce of over 50,000 people in over 
          50 countries is focused on sustainable development.

        </p>


      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row  ">
    <div class="col-4 ">
      <img src="../../../assets/delveloper/naiknavare.jpg" height="200px" width="200px" class="card-img-top " alt="...">

    </div>
    <div class="col-8">
      <div class="card-body">
        <h4 class="card-title">9.Naiknaware Developers</h4>

        <p class="card-text">At Naiknavare Developers, we understand that purchasing a home is 
          more than just moving into a new space. It is the realisation of an extraordinary dream. 
          established Naiknavare Developers in 1986 
           We comprehensively understand your requirements and bring your dream home into reality. 
           We have completed over 50 projects across five cities. Now, our vision is to create homes, schools, hotels, commercial spaces and business centres 
           that uphold quality and withstand the test of time.

        </p>


      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row  ">
    <div class="col-4 ">
      <img src="../../../assets/delveloper/panchshil.jpg" height="200px" width="200px" class="card-img-top " alt="...">

    </div>
    <div class="col-8">
      <div class="card-body">
        <h4 class="card-title">10.Panchashil reality</h4>

        <p class="card-text">
          Established in 2002, Panchshil Realty is one of India's finest luxury real 
          estate brands. Renowned for leadership and excellence in real estate development, 
          our approach is focused on planned development, creating value assets, 
          and crafting lifestyle experiences through design and architecture.

        </p>


      </div>
    </div>
  </div>
</div>

