Services we specialize in include:

The repair of damaged buildings due to water and moisture problems
Replacement of exterior cladding — stucco and siding
Window and door re-flashing and/or replacement
Roofing repair and/or replacement
Structural renovation and repair of improperly installed seismic components
Reconstruction of private balconies and elevated walkways
Mud-jacking and foundation stabilization
Below-grade waterproofing repair for foundations and parking garages
Non-litigation related building maintenance and renewal
