<div class="container-fluid text-white " style="background-color:black;">
<div class="row mt-5">
    <div class="col-4"> <div class="fs-3">{{aboutus}}</div>
        <hr width="13%" size="6" style="color: yellow;">
        <p class="footeraboutus">
            Building isn’t just a job. At the Construction Company, it is our passion. 
            With every project we undertake, we set the bar high and provide the best 
            people in the industry, with a true love of what we do to make our Customers’ 
            vision a reality.
        </p>
    </div>
    <div class="col-4 "  links> <div class="fs-3">{{companylinks}}</div>
        <hr width="13%" size="6" style="color: yellow;">
        <div class="row">
            <div class="col-lg-6 ">
                <ul class="text-white">
                    <li class="">
                        <a class="text-decoration-none abc" href="#">History</a>
                    </li>
                    <li>
                        <a class="text-decoration-none abc"  href="#">Team & Awards</a>
                    </li>
                    <li>
                        <a class="text-decoration-none abc"  href="#">Community</a>
                    </li>
                    <li>
                        <a class="text-decoration-none abc"  href="#">News & Events</a>
                    </li>
                    <li>
                        <a class="text-decoration-none abc"  href="#">FAQ</a>
                    </li>
                    <li>
                        <a class="text-decoration-none abc"  href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul>
                    <li>
                        <a class="text-decoration-none abc"  href="#">Services</a>
                    </li>
                    <li>
                        <a class="text-decoration-none abc"  href="#">Delivery Methods</a>
                    </li>
                    <li>
                        <a class="text-decoration-none abc"  href="#">Safety</a>
                    </li>
                    <li>
                        <a class="text-decoration-none abc"  href="#">Sustainability</a>
                    </li>
                    <li>
                        <a class="text-decoration-none abc"  href="#">Portfolio</a>
                    </li>
                    <li>
                        <a class="text-decoration-none abc"  href="#">Shop</a>
                    </li>
                </ul>
               </div>
        </div>
       

    </div>
    <div class="col-4" contactinfofooter > <div class="fs-3">{{contactinfo}}</div>
        <hr width="15%" size="6" style="color:#ffbc13;">

        
            <span class="mt-3 ft">Address:{{footeradress}}</span> 
        
        <div>
            <span class="mt-3 ft ">Phone No:{{phoneno}}</span> 
        
        <div>
            <span class="mt-3 ft">Email:{{email}}</span> 
        </div>
        <div class="fs-2 mt-3 ">
            <a href="#">
                <i class="fa-brands abd  fa-twitter-square mx-2"></i>
            </a>
            <a href="#">
                <i class="fa-brands abd fa-facebook-square mx-2"></i>
            </a>
            <a href="#">
                <i class="fa-brands abd fa-google-plus-square mx-2"></i>
            </a>
            <a href="#"><i class="fa-brands abd fa-pinterest-square mx-2"></i></a>
            <a href="#"><i class="fa-brands  abd fa-dribbble-square mx-2"></i></a>
    
        </div>
    </div>
   
   
</div>
</div>
