<div class="container ">
    <div class="kpc mt-3" > <h2>Future Work</h2></div>
  
      <div class="row row-cols-1 row-cols-md-4 mt-3 g-4">
          <div class="col">
            <div class="card">
              <img src="../../assets/featured work/proj1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">LUXURY BUILDING</h5>
                <p class="card-text">Building,Office,Workspace</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../../assets/featured work/proj3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">LUXURY BUILDING</h5>
                <p class="card-text">Architectural,Garden,Interior.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../../assets/featured work/proj4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">LUXURY BUILDING</h5>
                <p class="card-text">Building,Interior,Work.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="../../assets/featured work/proj5.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">LUXURY BUILDING</h5>
                <p class="card-text">Architectural,Garden,Building.</p>
              </div>
            </div>
          </div>
        </div>
  </div>
