<nav class="navbar navbar-light bg-light pading">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"> <h2>  Green Building Services</h2></span>
    </div>
  </nav>
  <p>
    Our energy and green building expertise help you to achieve environmentally responsible goals through energy and resource efficiency strategies. 
    It also allows you to ensure a safe working environment is offered to your employees and customers.
  </p>
  <p>
    Our energy and green building expertise help you to achieve environmentally 
    responsible goals through energy and resource efficiency strategies. 
    It also allows you to ensure a safe working environment is offered to your employees and customers.
  </p>






