 

<!-- top nav bar start -->
<nav class="nav-top tp-nav-bg  navsds " id="nav1">
    <div class="container-fluid">
        <div class="row ">

            <div class="col-5  mt-2">
                <a href="#">
                    <i class="fa-brands   fa-twitter mx-3  pqr"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-facebook-f  mx-3 pqr"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-google-plus-g mx-3  pqr"></i>
                </a>
                <a href="#"><i class="fa-brands  fa-pinterest mx-3  pqr"></i></a>
                <a href="#"><i class="fa-brands   fa-dribbble mx-3  pqr"></i></a>
            </div>
            <div class="col-7 links mt-2">
                <a href="#" class="links">
                    <i class="fa fa-phone-square mx-4 text-white"> </i><span class="text-white">+1 718-999-3939</span>

                </a>
                <a href="#" class="links">
                    <i class="fa fa-envelope mx-4 text-white"></i> <span class="text-white">contact@construction.com
                    </span>
                </a>
            <span class="mx-4 text-white"> {{ date | date:'medium'}}</span>
            
            </div>
        </div>

    </div>




</nav>
<!-- top nav bar end  -->
<!-- boottom nav bar start -->
<nav class="navbar navbar-light bottom-nav-bg " id="nav">
    <div class="container-fluid">
        <a class="navbar-brand " href="#">
            <img src="../../../assets/logo-light.png" alt="" class="d-inline-block align-text-top mx-3">
        </a>

        <a href="#" class="nav-link px-2 text-white " 
        >
            <select class="bg-secondary text-white" name="homevalue" [(ngModel)]="homevalue"
             (change)="changeEvent()">
                <option>{{Home}}</option>
                <option *ngFor="let dt of subheader1">{{dt.subheaderName}}</option>
            </select>
        </a>
 
        <a href="#" class="nav-link px-1 text-white ">
            <select class="bg-secondary text-white" name="servicevalue" [(ngModel)]="servicevalue"
                (change)="serviceEvent()">
                <option>{{Services}}</option>
                <option *ngFor="let dt of subheader2">{{dt.subheaderName}}</option>
            </select>
        </a>
        <a href="#" class="nav-link px-1 text-white">
            <select class="bg-secondary text-white" name="protofoliovalue"
             [(ngModel)]="protofoliovalue"
                (change)="protofolioEvent()">
                <option>{{Protfolio}}</option>
                <option *ngFor="let dt of subheader3">{{dt.subheaderName}}</option>
            </select>
        </a>
       <!-- Example single danger button -->
<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Select city
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" routerLink="pune">Pune</a></li>
    <li><a class="dropdown-item" routerLink="mumbai">Mumbai</a></li>
    
  </ul>
</div>
    </div>
</nav>
<!-- bottom nav bar end here -->
<!-- <app-home></app-home>  -->





<!-- <app-footer></app-footer> -->